<kb-page-slider [overlayIndicator]="false" dotColor="black"
                [(page)]="pageNumber" (pageCountChange)="pageCount = $event">

    <!-- Pages -->
    <div *kbPages="let page of pages" [style.background]="page.image"></div>

    <!-- Navigation Buttons -->
    <kb-nav-button backward [showBackground]="true"
    [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

    <kb-nav-button forward [showBackground]="true"
    [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

</kb-page-slider>