<md-sidenav-container fullscreen>

  <md-sidenav #sidenav mode="over">
    <navigation></navigation>
  </md-sidenav>

  <md-toolbar color="primary">
    <span>CogQuiz</span>

    <div class="mat-toolbar-right">
      <button md-icon-button [mdMenuTriggerFor]="notifications">
        <md-icon>notifications</md-icon>
      </button>
      <md-menu #notifications="mdMenu">
        <button md-menu-item>
          <md-icon>dialpad</md-icon>
          <span>Redial</span>
        </button>
        <button md-menu-item disabled>
          <md-icon>voicemail</md-icon>
          <span>Check voicemail</span>
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          <span>Disable alerts</span>
        </button>
      </md-menu>
      <button md-icon-button [mdMenuTriggerFor]="account">
        <md-icon>person</md-icon>
      </button>
      <md-menu #account="mdMenu">
        <button md-menu-item>
          <md-icon>account_circle</md-icon>
          <span>Profile</span>
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          <span>Logout</span>
        </button>
      </md-menu>
    </div>
  </md-toolbar>

  <a class="menu-button" md-button (click)='sidenav.toggle();'><md-icon>play_arrow</md-icon></a>

  <div>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
