<div class="nav-container">
  <nav>
    <ul>
      <li>
        <a class="element" routerLinkActive="active-link" [routerLink]="['/dashboard']">
          <md-icon>dashboard</md-icon> Dashboard
        </a>
      </li>
      <li>
        <a class="element" routerLinkActive="active-link" [routerLink]="['/profile']">
          <md-icon>person</md-icon> Profile
        </a>
      </li>
      <li>
        <a class="element" routerLinkActive="active-link" (click)="logout()">
          <md-icon>input</md-icon> Logout
        </a>
      </li>
    </ul>
  </nav>
</div>
