<div class="nav-container">
  <nav>
    <ul>
      <li>
        <a class="element" routerLinkActive="active-link" [routerLink]="['/dashboard']">
          <md-icon>dashboard</md-icon> Dashboard
        </a>
      </li>
      <li>
        <a class="element" routerLinkActive="active-link" (click)="logout()">
          <md-icon>input</md-icon> Logout
        </a>
      </li>
      <!-- <li class="dropdown">
        <a href="">qwer </a>
        <ul >
          <li><a href="">dsdf</a></li>
          <li><a href="">asdasd</a></li>
        </ul>
      </li> -->
    </ul>
  </nav>
</div>
