<div class="container mat-elevation-z8">
  <div class="header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter">
    </md-input-container>
  </div>
  <md-table #table [dataSource]="dataSource" mdSort>
    <ng-container cdkColumnDef="testType">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Test Type </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.test.testType.name}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="providerId">
      <md-header-cell *cdkHeaderCellDef md-sort-header> providerId </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.test.providerId}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef md-sort-header> </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button *ngIf='true' md-button (click)='startTest(row)'>
              <md-icon md-48>play_arrow</md-icon>
              <span>Start</span>
        </button>
        <button *ngIf='false' md-button (click)='showResults(row)'>
          <md-icon>assignment</md-icon>
          <span>results</span>
        </button>
      </md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
