<!--Menu-->
<header>
    <div class="wrapper">
        <a href="" class="home-logo"><i class="fa fa-cogs" aria-hidden="true"></i> Quiz</a>
        <a href="" class="menu-button"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        <ul class="home-menu">
            <li><a pageScroll (click)="goTo('top')" href="#top" mat-button>Home</a></li>
            <li><a pageScroll (click)="goTo('about')" href="#about" mat-button>About</a></li>
            <li><a pageScroll (click)="goTo('test-cat')" href="#test-cat" mat-button>Test Categories</a></li>
            <li><a pageScroll (click)="goTo('available')" href="#available" mat-button>Avaialble Tests</a></li>
            <li><a pageScroll (click)="goTo('custom')" href="#custom" mat-button>Custom Tests</a></li>
            <li><a pageScroll (click)="goTo('desktop')" href="#desktop" mat-button>Desktop Tests</a></li>
            <li><a pageScroll (click)="goTo('form')" href="#form" mat-button>Connect</a></li>
            <li><a href="" mat-button>Login</a></li>
        </ul>
    </div>
</header>
<div class="menu-fix"></div>

<!--Slider-->
<slideshow-component id="top"></slideshow-component>

<!--About-->
<div id="about" class="wrapper">
    <p class="head-text text-center">CogQuiz Neuropsychological Tests</p>
    <p class="head-text-sm text-center">The CogQuiz General Philosophy</p>
    <p class="text-center">CogQuiz is a company committed to the development of powerful computer-based tools for cognitive and neuropsychological research and evaluation. Our goal is to design computerized neuropsychological and cognitive tests that are affordable for assessment of medical and/or a mental health status. We have strived, and think we are successful, in making an easy to use, affordably priced tests usable by the general public. As a consumer, you will take a test that is the equal of any test in terms of norms and receive feedback at a fraction of the cost of seeing a licensed professional. You may print out a report that you can take to a professional for an evaluation beyond the report we provide. We believe that an informed individual is their own best advocate.</p>
    <p class="head-text-sm text-center">History and Validating Data</p>
    <p class="text-center">Our products reflect over 50 years of experience in using computers for experiment control, data acquisition, and data analysis in cognitive and behavioral research. Our products have been used as part of a long-term research program in several universities and by licensed practitioners alike. Many of the tests have extensive sets of age-stratified normative data which are included in each test product's report/manual.</p>
    <p class="head-text-sm text-center">Large Norm Base</p>
    <p class="text-center">All CogQuiz products come with preprogrammed tests that were used to collect the normative data provided in the test documentation. There are few or no commercial products with equivalent norms, anywhere.</p>
    <p class="head-text-sm text-center">Centralized Secure Database</p>
    <p class="text-center">All CogQuiz tests utilize a centralized database. Whether you are using only one of our tests or all of them, collected data is secure. In addition to facilitating the management of all testing data, this approach also ensures heightened security and confidentiality of all participant information.</p>
    <div class="menu-fix"></div>
</div>
<!--TEST CATEGORIES-->
<div id="test-cat" class="back-gray test-cat">
    <div class="wrapper">
        <p class="head-text text-center">TEST CATEGORIES</p>
        <div class="col-33">
            <div class="text-center">
                <a href=""><mat-icon class="mat-icon-cust">memory</mat-icon></a>
            </div>
            <a href="" class="head-text-sm text-center">Memory</a>
            <p class="text-center">Short-term and long term-merm memory tests avaialble. Take one of our quizes and find out where you stand in relation to others. Are you capable of remembering germane or salient details, or is there cause for concern?</p>
        </div>
        <div class="col-33">
            <div class="text-center">
                <a href=""><mat-icon class="mat-icon-cust">content_paste</mat-icon></a>
            </div>
            <a href="" class="head-text-sm text-center">Executive function and Planning</a>
            <p class="text-center">Are you concerned with your Attention span, your ability to switch between tasks effectively or your speed of processing? Executive function tests help you determine if you have alfflictions like ADHD or NNNN</p>
        </div>
        <div class="col-33">
            <div class="text-center">
                <a href=""><i class="fa fa-cogs fa-5x" aria-hidden="true"></i></a>
            </div>
            <a href="" class="head-text-sm text-center">Processing Speed</a>
            <p class="text-center">Speed of processing has been a major explantory varialbe for enhanced cognitive performace during development.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--ALL AVAILABLE TESTS-->
<div id="available" class="wrapper">
    <p class="head-hext-sm text-center">The software for each CogQuiz test has been designed with an emphasis on efficiency and ease of use. Each test comes with an easy to use example and a screen feature definition. In addition, we offer prompt, courteous customer support via email or Skype. CogQuiz tests will run on Microsoft Windows XP SP3®, Vista®, Windows 7® Windows 8®.</p>
    <p class="head-text text-center">ALL AVAILABLE TESTS</p>
    <mat-tab-group>
        <mat-tab label="All">
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">
                            Stroop Test<br>
                            <button mat-raised-button>More..</button>
                        </span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">
                            Trails Making Test<br>
                            <button mat-raised-button>More..</button>
                        </span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">
                            Card Sort<br>
                            <button mat-raised-button>More..</button>
                        </span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">
                            N-Back<br>
                            <button mat-raised-button>More..</button>
                        </span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">Tower Of London<br>
                            <button mat-raised-button>More..</button>
                        </span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">Stroop Test<br>
                            <button mat-raised-button>More..</button></span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">Trails Making Test<br>
                            <button mat-raised-button>More..</button></span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">Card Sort<br>
                            <button mat-raised-button>More..</button></span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">N-Back<br>
                            <button mat-raised-button>More..</button></span>
                    </a>
            </div>
            <div class="test">
                    <a href="" class="hovered">
                        <span class="head-hext-sm text-center">Tower Of London<br>
                            <button mat-raised-button>More..</button></span>
                    </a>
            </div>
            <div class="clearfix"></div>
        </mat-tab>
        <mat-tab label="Memory">
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Stroop Test<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Trails Making Test<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Card Sort<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">N-Back<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="clearfix"></div>
        </mat-tab>
        <mat-tab label="Executive Function">
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Tower Of London<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Stroop Test<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Trails Making Test<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Card Sort<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">N-Back<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Tower Of London<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="clearfix"></div>
        </mat-tab>
        <mat-tab label="Processing Speed">
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Stroop Test<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Trails Making Test<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="clearfix"></div>
        </mat-tab>
        <mat-tab label="Personality">
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">N-Back<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="test">
                        <a href="" class="hovered">
                            <span class="head-hext-sm text-center">Tower Of London<br>
                                <button mat-raised-button>More..</button></span>
                        </a>
                </div>
                <div class="clearfix"></div>
        </mat-tab>
    </mat-tab-group>
    <div class="menu-fix"></div>
</div>
<!--Tests to Order-->
<div id="custom" class="back-gray">
    <div class="wrapper">
        <p class="head-text text-center">Tests to Order</p>
        <div class="col-50">
            <p class="head-text-sm text-center">Single Test</p>
            <p class="text-center">Are you a practitioner, clinition, medical profressional or researcher in need of a specific test? We can make it for you within a two weeks, end-2-end.</p>
        </div>

        <div class="col-50">
            <p class="head-text-sm text-center">Research Environment</p>
            <p class="text-center">We will make software for you based off of your needs. Neuropsychological testing is our specialty. If you are looking for custom software that is maluable and configurable for multiple tests, can keep a track of participants, store results, we are your best option.</p>
        </div>

        <div class="col-50">
            <p class="head-text-sm text-center">Software and Hosting</p>
            <p class="text-center">We create the software, and we will host it for you too. We take the worrying out of Hipaa regulations and data integrity. We design and develop Cloud based and Desktop applications.</p>
        </div>

        <div class="col-50">
            <p class="head-text-sm text-center">Platforms</p>
            <p class="text-center">With custom software comes custom requests. Do you want your tests to run on Android, Apple, locked applications for tablets, or desktop applications? We can help.</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<!--DeskTop Tests-->
<div id="desktop" class="wrapper">
    <p class="head-text text-center">DeskTop Tests</p>
    <div class="col-50">
        <div class="wrapp-hover desc">
            <a href="" class="hovered">
                <span class="head-hext-sm text-center">Cogquest<br>
                <button mat-raised-button>Download</button></span>
            </a>
        </div>
        <p class="text-center">A tool to create questionnaires for collecting participant information.</p>
    </div>
    <div class="col-50">
        <div class="wrapp-hover desc">
                <a href="" class="hovered">
                    <span class="head-hext-sm text-center">Desktop tests<br>
                        <button mat-raised-button>Download</button></span>
                </a>
            </div>
            <p class="text-center">Our new tool!</p>
        </div>
    <div class="clearfix"></div>
</div>

<!--FORM-->
<div id="form" class="back-gray">
    <div class="wrapper contact-form-wrap">
        <div class="col-50">
            <p class="head-text">Contact us:</p>
            <form class="">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Your Name:" value="">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Your Email:" value="">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Message:"></textarea>
                </mat-form-field>
                <div class="text-right">
                    <button type="submit" mat-raised-button>Send Email</button>
                </div>
            </form>
        </div>
        <div class="col-50">
                <ul class="text-center socials">
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
                <p class="text-center tel">
                    <a href="tel:+17198889121" class="tel"><i class="fa fa-phone" aria-hidden="true"></i> +1(719)888 9121</a>
                </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="wrapper">
        <p class="copyright">© Copyright CogQuiz 2016</p>
    </div>
</footer>
<a pageScroll (click)="goTo('top')" href="#top" class="go-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
