<md-card *ngIf='profile'>
  <form class="form-container" #form='ngForm' (ngSubmit)='save()'>

    <md-input-container class="full-width">
      <input mdInput placeholder="First name" [(ngModel)]="profile.firstName" name="firstName">
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput placeholder="Last Name" [(ngModel)]="profile.lastName" name="lastName">
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput [mdDatepicker]="picker" placeholder="Date of birth" name="birthDate" [(ngModel)]="profile.birthDate">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <md-input-container class="full-width">
      <input mdInput placeholder="Address" name="address" [(ngModel)]="profile.address">
    </md-input-container>

    <md-select class="full-width" placeholder="Education" name="education" [(ngModel)]="profile.education">
      <md-option value="Some High School">
        Some High School
      </md-option>
      <md-option value="High School Grad">
        High School Grad
      </md-option>
      <md-option value="Some University">
        Some University
      </md-option>
      <md-option value="Univ Undergraduate">
        Univ Undergraduate
      </md-option>
      <md-option value="Graduate School">
        Graduate School
      </md-option>
      <md-option value="PhD">
        PhD
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="Level of Income:" name="lvlOfIncome" [(ngModel)]="profile.income">
      <md-option value="less than 10 000">
        less than 10 000
      </md-option>
      <md-option value="10 001 -- 25 000">
        10 001 -- 25 000
      </md-option>
      <md-option value="25 001 -- 50 000">
        25 001 -- 50 000
      </md-option>
      <md-option value="25 001 -- 50 000">
        25 001 -- 50 000
      </md-option>
      <md-option value="more than 100 000">
        more than 100 000
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="Dominant Hand" name="dominantHand" [(ngModel)]="profile.hand">
      <md-option value="left">
        left
      </md-option>
      <md-option value="right">
        right
      </md-option>
      <md-option value="ambidextrous">
        ambidextrous
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="Ethnicity" name="ethnicity" [(ngModel)]="profile.ethnisity">
      <md-option value="White/Non-hispanic">
        White/Non-hispanic
      </md-option>
      <md-option value="African American/African origin">
        African American/African origin
      </md-option>
      <md-option value="Hispanic or Latino">
        Hispanic or Latino
      </md-option>
      <md-option value="Asian">
        Asian
      </md-option>
      <md-option value="American Indian or Alaskan Native">
        American Indian or Alaskan Native
      </md-option>
      <md-option value="Native Hawaiian or Pacific Islander">
        Native Hawaiian or Pacific Islander
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="Marital status" name="maritalStatus" [(ngModel)]="profile.maritalStatus">
      <md-option value="Single">
        Single
      </md-option>
      <md-option value="Married">
        Married
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="How many hours a week do you exercise?" name="lvlExercise" [(ngModel)]="profile.exercise">
      <md-option value="0-1">
        0-1
      </md-option>
      <md-option value="2-3">
        2-3
      </md-option>
      <md-option value="4-5">
        4-5
      </md-option>
      <md-option value="6-7">
        6-7
      </md-option>
      <md-option value="8-9">
        8-9
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="How would you rate your self-esteem:" name="lvlSelfEsteem" [(ngModel)]="profile.selfEsteem">
      <md-option value="Low">
        Low
      </md-option>
      <md-option value="Below Avarage">
        Below Avarage
      </md-option>
      <md-option value="Average">
        Average
      </md-option>
      <md-option value="Above Average">
        Above Average
      </md-option>
      <md-option value="High">
        High
      </md-option>
    </md-select>

    <md-select class="full-width" placeholder="How would you rate your overall health:" name="lvlOverallHealth" [(ngModel)]="profile.selfHealth">
      <md-option value="Poor">
        Poor
      </md-option>
      <md-option value="Below Avarage">
        Below Avarage
      </md-option>
      <md-option value="Average">
        Average
      </md-option>
      <md-option value="Above Average">
        Above Average
      </md-option>
      <md-option value="Excellent">
        Excellent
      </md-option>
    </md-select>

    <md-radio-group class="full-width" [(ngModel)]="profile.gender" name='gender'>
      Gender:
      <md-radio-button class="radio-button" value="male">
        Male
      </md-radio-button>
      <md-radio-button class="radio-button" value="female">
        Female
      </md-radio-button>
    </md-radio-group>

    <!--<md-checkbox class="full-width" [(ngModel)]="profile.firstLanguage">Is English your first language?</md-checkbox>

    <div class="full-width">
      <md-checkbox>Have you ever had a head injury?</md-checkbox>
      <md-input-container class="input-small">
        <input mdInput placeholder="Count" value="" name="injuryCount" [(ngModel)]="profile.injuryCount">
      </md-input-container>
    </div>

    <md-checkbox class="full-width">Are you currently taking any medications?</md-checkbox>

    <md-input-container class="double-width">
      <input mdInput placeholder="Comment" value="" name="commentMedication" [(ngModel)]="profile.medName">
    </md-input-container>

    <md-select class="screen-width" placeholder="How many hours a week do you engage in stimulating activity such as follows: reading, writing, playing cards, intellectual conversations, computer use:"
      name="lvlRest" [(ngModel)]="profile.brainActivity">
      <md-option value="0-5">
        0-5
      </md-option>
      <md-option value="6-10">
        6-10
      </md-option>
      <md-option value="11-15">
        11-15
      </md-option>
      <md-option value="16-20">
        16-20
      </md-option>
      <md-option value="more than 20">
        more than 20
      </md-option>
    </md-select> -->

    <div class="full-with text-right">
      <button md-raised-button type="submit" name="save">Save</button>
    </div>
  </form>
</md-card>
