<form class="example-form">

  <md-input-container class="example-full-width">
    <input mdInput disabled value="Registration form">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Last Name">
    </md-input-container></td>
  </tr></table>
  
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Email">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Password" type="password">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Confirm password" type="password">
  </md-input-container>

  <div>
    <button md-raised-button>Continue</button>
  </div>
</form>