<div class="wrap-test">

    <button id="play">Play</button>

    <div id="testArea" class="withBorder center">

        <div id="countdown" class="countdown"></div>
        <div id="finalMessage" class="finalMessage"></div>
        <h3 class="lefth3" id="workArea">Work Space</h3>
        <div id="work" class="left"></div>

        <div id="canvas_small_wrapper" class="left">
          <div id="canvas_small"></div>
        </div>

        <h3 class="displayh3" id="goalArea">Goal State</h3>
        <div id="goal" class="display"></div>

        <div id="image_holder_wrapper" class="display">
            <div id="image_holder"></div>
        </div>
    
        <div id="displayMessageL" class="">
            <p></p>
        </div>
        
    </div>    
</div>